<!--begin:header-->

<!-- >=medium -->
<div zf-if="medium" class="grid-content shrink" style="padding: 0;">

  <div class="menu-group primary">
  <div class="menu-group-left">
  <ul class="menu-bar primary">
    <li><a ui-sref="home"><strong>My Cooking APP</strong></a></li>
    <li><a href="#" zf-popup-toggle="speechpopup"><img zf-iconic="" icon="bell" size="small"></a></li>
  </ul>
  </div>
  <div class="menu-group-right">
  <ul class="icon-left primary menu-bar">
  </ul>
  </div>
  </div>
</div>

<!-- small -->
<div zf-if="small only" class="grid-content shrink" style="padding: 0;">
  <ul class="icon-left primary menu-bar">
  <li><a href="#" zf-open="menu">Menu</a></li>
  <li><a ui-sref="home"><strong>My Cooking APP</strong></a></li>
  <li><a href="#" zf-open="searchPanel"><img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-primary"></a></li>
  </ul>
</div>


<!--end header-->
