
<div class="padding">
  <h3>Menu</h3>

<hr/>
<div class ="grid-content">
<section class="block-list">


<div class="grid-block" style="padding-left:2% padding-top:5%">
  <div class="grid-content"  ng-repeat="c in categories">
    <a class="small button dark" href="#" ng-style="{'background-color':c.color}" style="color:black;width:75px">{{c.name}}</a>
  </div>
</div>
</section>
</div>

<hr/>
<a ui-sref="login">Login</a>
<hr/>
<a ui-sref="login">Register</a>
<hr/>
</div>
