<div class="padding">
<span class="inline-label">
<input type="search" placeholder="Search a recipe">
<a href="#" class="button">Search</a>
</span>

<hr/>

<h3>Advanced Search</h3>
<div class="grid-content">
  <section class="block-list">
    <header>Cooking time (in minutes)</header>
    <input type="range" min="15" max="180" step="15">
    <datalist id="numbers">
    <option>10</option>
      <option label="30">30</option>
      <option label="midpoint">50</option>
      <option>70</option>
      <option>90</option>
    </datalist>
  </section>



<section class="block-list">
<header>Ingredients</header>
<ul>
<li><input type="text" placeholder="with"></li>
<li><input type="text" placeholder="without"></li>
</ul>
</section>





  <section class="block-list">
    <header>Spice level</header>
    <select name="" id="">
    <option value="">Low</option>
    <option value="">Medium</option>
    <option value="">High</option>
    </select>
  </section>


<div class="block-list">
  <header>Categories</header>
<div class="grid-content"  ng-repeat="c in categories" ng-style="{'background-color':c.color}" style="color:black;margin:5px;padding:5px;">
  <input id={{c.name}} type="checkbox"><label for={{c.name}}>{{c.name}}</label>
</div>
</div>

<a href="#" class="button">Search</a>


</div>
</div>
