---
name: description
url: /description
---
<div class="grid-block medium-8">
<div class="card">
<img src="http://placekitten.com/g/400/200">
  <div class="card-divider grid-block">
    <div class="grid-content">
      Ingredients
      <h4>4</h4>
    </div>
    <div class="grid-content">
      Nutrition
      <h4>120 Calories</h4>
    </div>
    <div class="grid-content">
      Total time
      <h4>120 minutes</h4>
    </div>
    <div class="grid-content">
      <a class="icon right" href=""><img zf-iconic="" icon="thumb" size="medium"></a>
    </div>
  </div>
  <div class="card-section">
    <h4>Ingredients:</h4>
    <ul>
      <li>Ingre1</li>
      <li>Ingre1</li>
      <li>Ingre1</li>
      <li>Ingre1</li>
    </ul>
  </div>
  <div class="card-section">
  <h4>Steps:</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
  </p>
  </div>
</div>
</div>
