---
name: home
url: /
---

<div class="grid-container">

    <div class="grid-block shrink">
      <div class="grid-content">
      <zf-interchange>
        <div media="small" src=""></div>
        <div media="medium">Browse:</div>
      </zf-interchange>
      </div>

      <div class="grid-block" style="padding-left:2%">
        <div class="grid-content" style="padding:0" ng-repeat="c in ['seasonal', 'continental' , 'american', 'mexican' , 'french' , 'indian' , 'lebanese' , 'british' , 'chinese']">
          <a class="small button" href="#">{{c}}</a>
        </div>
      </div>
      <hr/>
    </div>

    <div class="grid-block medium-up-4">
      <div ng-repeat="n in [1,2,3,4,5,6,7,8,9,10] track by $index">
        <a ui-sref="description">
        <div class="card">
        <img src="http://placekitten.com/g/400/200">
          <div class="card-divider grid-block">
            <div class="grid-content">
              Mojito blabla
            </div>
            <div class="grid-content">
              <a class="icon right" href=""><img zf-iconic="" icon="thumb" size="small"></a>
            </div>
          </div>
          <div class="card-section">
            <div class="grid-content">
              <small>Ingredients</small>
              <h5 class="subheader">4</h5>
            </div>
            <div class="grid-content">
              <small>Nutrition</small>
              <h5 class="subheader">120 Calories</h5>
            </div>
            <div class="grid-content">
              <small>Total time</small>
              <h5 class="subheader">120 minutes</h5>
            </div>
          </div>
        </div>
      </a>
      </div>

  </div>
</div>
