---
name: description
url: /description
controller: FoodController
---
<div zf-panel="" id="searchPanel" position="right" zf-swipe-close="right">
<a zf-close="" class="button">X</a>
<div ng-include="'partials/search.html'"></div>
</div>
<zf-offcanvas id="menu" position="left" zf-swipe-close="left">
<a zf-close="" class="close-button">×</a>
 <div ng-include="'partials/menu.html'"></div>
</zf-offcanvas>

<div class="grid-container">
<div class="card">
  <div class="description-header" style="text-align: center">
    <h3><strong>Biriyani Indienne</strong></h3>
    <h6 class="subheader"><small>Rated:</small> <i>4.0/5</i> <small>from </small> <i>10 reviews</i></h6>
  </div>

<img class="description-img" src="https://s3-ap-southeast-1.amazonaws.com/hungryforever/wp-content/uploads/2015/12/10130016/Biriyani-featured.jpg">
<div class="category-text" >Indian</div>

<div class="card-divider desc-info">


  <div class="grid-block small-up-2 medium-up-4">

    <div class="grid-block">
      <div class="small-5 grid-block" style="padding-left:20%">
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
        <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
      </div>
      <div class="small-7 grid-block " style="padding-left:25%">
          Extreme spicy
      </div>
    </div>

    <div class="grid-block">
      <div class="small-4 grid-block" style="padding-left:10%">
          <img ng-src="assets/img/colorpng/clock 2.png" style="width:30px;height:30px;"/>
      </div>
      <div class="small-8 grid-block " style="padding-left:25%">
          120 minutes
      </div>
    </div>

    <div class="grid-block">
      <div class="small-5 grid-block" style="padding-left:20%">
          <div class="grid-block"><img ng-src="assets/img/colorpng/money-bag.png" style="width:30px;height:30px;"/></div>
          <div class="grid-block"><img ng-src="assets/img/colorpng/money-bag.png" style="width:30px;height:30px;"/></div>
          <div class="grid-block"><img ng-src="assets/img/colorpng/money-bag.png" style="width:30px;height:30px;"/></div>
      </div>
      <div class="small-7 grid-block green" style="padding-left:30%">
          Lavish
      </div>
    </div>

    <div class="grid-block">
      <div class="small-5 grid-block" style="padding-left:20%">
          <div class="grid-block"><img ng-src="assets/img/colorpng/medal.png" style="width:30px;height:30px;"/></div>
          <div class="grid-block"><img ng-src="assets/img/colorpng/medal.png" style="width:30px;height:30px;"/></div>
          <div class="grid-block"><img ng-src="assets/img/colorpng/medal.png" style="width:30px;height:30px;"/></div>
      </div>
      <div class="small-7 grid-block red" style="padding-left:30%">
          Difficult
      </div>
    </div>

  </div>
</div>

  <div class="card-section">
    <h4>Ingredients (for 4 person):</h4>
    <ul>
      <li>Ingre1 250gm</li>
      <li>Ingre1 100gm</li>
      <li>Ingre1 50gm</li>
      <li>Ingre1 5 pieces</li>
    </ul>
  </div>

  <div zf-tabs="">
  <div zf-tab="" title="Steps">
    <div class="card-section">
    <h4>Steps:</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem.
    </p>
    <h3>Video</h3>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/E0jrAnNdGc4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div zf-tab="" title="Reviews">
    <div class="grid-content">
      <h3>Reviews</h3>
      <textarea></textarea>
      <button class="button">Post your Review</button>
      <hr/>
      <blockquote ng-repeat="n in [1,2,3,4,5,6,7,8,9,10] track by $index">
        <h6 class="subheader"><small>Rated:</small> <i>4/5</i></h6>
        Those people who think they know everything are a great annoyance to those of us who do.
        <cite>19th June 2016, Isaac Asimov</cite>
      </blockquote>
    </div>
  </div>

  <div zf-tab="" title="Similar recipes">
    <div class="grid-block medium-up-4">
      <div class="card" ng-repeat="n in [1,2,3,4,5,6] track by $index">
      <img src="https://s3-ap-southeast-1.amazonaws.com/hungryforever/wp-content/uploads/2015/12/10130016/Biriyani-featured.jpg">
        <div class="card-divider grid-block" ng-style="{'background-color':c.color}">
          <div class="grid-content" style="color:black;">
            <strong>Biriyani Indienne</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>


</div>

<style>
.category-text{
    position:relative;
    text-align: center;
    font-weight:bold;
    /*text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);*/
    color: #000;
    height:0;
    text-rendering: optimizeLegibility;
    bottom:30px;
    left:10px;
    font-size: 20px;
    float: left;
    /*
    background-color: #ef5285;
    border-radius: 10px;
    padding: 4px 12px;
    */
}

.description-header{
  /*position: relative;
  top:10px;
  height: 0;*/
  text-align: center;
  font-weight:bold;
  /*text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);*/
  color: #000;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}


.desc-info{
  color: #000;
}
</style>
