<div class="grid-content shrink" style="padding: 0;" >

  <div class="menu-group primary">
  <div class="menu-group-left">
  <ul class="menu-bar primary">
    <li><a><strong>My Cooking APP</strong></a></li>
  </ul>
  </div>
  <div class="menu-group-right">
  <ul class="icon-left primary menu-bar">
  <li><input type="search" placeholder="Search a thing"></li>
  <li><a href="#"><img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-primary"></a></li>
  <li><a href="#" zf-open="searchPanel">Advanced Search</a></li>
  </ul>
  </div>
  </div>
</div>
