


  <h3>Advanced Search</h3>

<span class="inline-label">
<input type="search" placeholder="Search a recipe">
<a href="#" class="button">Search</a>
</span>


<div class="grid-content">
  <section class="block-list">
<header>Ingredients</header>
<ul>
<li><input type="text" placeholder="with"></li>
<li><input type="text" placeholder="without"></li>
</ul>
</section>
</div>

<div class="grid-content">
  <section class="block-list">
    <header>Cooking time</header>
    <input type="range">
  </section>
</div>

<div class="grid-content">
  <section class="block-list">
  <header>Flavours</header>
  <ul>
  <li>Salty: <input type="range"></li>
  <li>Sweet: <input type="range"></li>
  <li>Spicy: <input type="range"></li>
  </ul>
  </section>
</div>

<a href="#" class="button">Search</a>
